<p id="notice"><%= notice %></p>

<h1>Celulas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data iniciada</th>
      <th>Endereco</th>
      <th>Anfitriao</th>
      <th>Member</th>
      <th>Dia</th>
      <th>Cep</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @celulas.each do |celula| %>
      <tr>
        <td><%= celula.nome %></td>
        <td><%= celula.data_iniciada %></td>
        <td><%= celula.endereco %></td>
        <td><%= celula.anfitriao %></td>
        <td><%= celula.member %></td>
        <td><%= celula.dia %></td>
        <td><%= celula.cep %></td>
        <td><%= link_to 'Show', celula %></td>
        <td><%= link_to 'Edit', edit_celula_path(celula) %></td>
        <td><%= link_to 'Destroy', celula, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Celula', new_celula_path, class: "btn btn-primary" %>
