<p id="notice"><%= notice %></p>

<p>
  <strong>Id celula:</strong>
  <%= @celula.id_celula %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @celula.nome %>
</p>

<p>
  <strong>Data iniciada:</strong>
  <%= @celula.data_iniciada %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @celula.endereco %>
</p>

<p>
  <strong>Anfitriao:</strong>
  <%= @celula.anfitriao %>
</p>

<p>
  <strong>Member:</strong>
  <%= @celula.member %>
</p>

<p>
  <strong>Dia:</strong>
  <%= @celula.dia %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @celula.cep %>
</p>

<%= link_to 'Edit', edit_celula_path(@celula) %> |
<%= link_to 'Back', celulas_path %>
