<p id="notice"><%= notice %></p>

<p>
  <strong>Id lider treinamento:</strong>
  <%= @lider_treinamento.id_lider_treinamento %>
</p>

<p>
  <strong>Member:</strong>
  <%= @lider_treinamento.member %>
</p>

<p>
  <strong>Celula:</strong>
  <%= @lider_treinamento.celula %>
</p>

<%= link_to 'Edit', edit_lider_treinamento_path(@lider_treinamento) %> |
<%= link_to 'Back', lider_treinamentos_path %>
