<%= form_for(membro) do |f| %>
  <% if membro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(membro.errors.count, "error") %> prohibited this membro from being saved:</h2>

      <ul>
      <% membro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome , class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :data_aniversario %>
    <%= f.date_field :data_aniversario , class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :tipo_id %>
    <%= select("tipo", "tipo_id", Tipo.all.collect {|p| [ p.nome, p.id ] }, { include_blank: true }, class: "form-control")%>
  </div>

  <div class="field">
    <%= f.label :endereco %>
    <%= f.text_field :endereco , class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :cep %>
    <%= f.text_field :cep , class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :telefone %>
    <%= f.text_field :telefone , class: "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
