<p id="notice"><%= notice %></p>

<p>
  <strong>Id atividade:</strong>
  <%= @atividade.id_atividade %>
</p>

<p>
  <strong>Encontro:</strong>
  <%= @atividade.encontro %>
</p>

<p>
  <strong>Batismo:</strong>
  <%= @atividade.batismo %>
</p>

<p>
  <strong>Ccc:</strong>
  <%= @atividade.ccc %>
</p>

<p>
  <strong>Ctl:</strong>
  <%= @atividade.ctl %>
</p>

<p>
  <strong>Casado a:</strong>
  <%= @atividade.casado_a %>
</p>

<p>
  <strong>Dizimista:</strong>
  <%= @atividade.dizimista %>
</p>

<%= link_to 'Edit', edit_atividade_path(@atividade) %> |
<%= link_to 'Back', atividades_path %>
